body {
  background-color: #d6d0ce;
  font-size: 1.5vw;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h2, .narrative {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.narrative { 
  display: grid;
  grid-template-rows: 80% 20%;
  border: 7px solid #a89d9d;
  border-radius: 50px;
  padding: 2%;
  /*height: 25%;*/
}

.transcription {
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.transcription-expand {
  font-size: 5vw;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, #d6d0ce);
  cursor: pointer;
}

.transcription p {
  margin-top: 0px;
}

audio {
  margin-top: 10px;
  width: 100%;
  border-radius: 30px;
}
