<!DOCTYPE html>
<html>
  <head>
    <title>Jail Solidarity Network</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <head>
  <body>
    <img class="logo" src="jsn-logo-transparent.png" />
    each v, k in narratives
      div(class='narrative')
        div(class='transcription')
          div
            each chunk in v
              p= chunk
        div(class="transcription-expand")
          div(class="material-symbols-outlined")= 'expand_more'
        div
          audio(controls)
            source(src='narratives/' + k + '.mp3' type="audio/mpeg")
    <script src="index.js"></script> 
  </body>
</html>
