body {
  background-image: linear-gradient(160deg, #e0e0e0, #e6e6e6, #888888);
  background-size: cover;
  font-size: 1.5vw;
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100%;
  background-attachment: fixed;
}

.logo {
  display: block;
  width: 40%;
}

.logo, .narrative {
  margin-left: auto;
  margin-right: auto;
}

.narrative {
  width: 60%;
  display: grid;
  grid-template-rows: 80% 20%;
  border: 7px solid #888888;
  border-radius: 50px;
  padding: 2%;
  margin-bottom: 2px;
}

.transcription {
  overflow: hidden;
  position: relative;
  
  background-image: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transcription p {
  margin: 0;
}

.transcription-expand {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  -webkit-text-fill-color: black;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 4vh;
}

audio {
  margin-top: 10px;
  width: 100%;
  border-radius: 35px;
}
